/* components/Navbar.module.css */

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    max-width: 1280px;
    margin: auto;
}
.navbarLogo{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
}
.logo img {
    width: 100px; /* Adjust size as needed */
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    font-size: 0.9rem;
    text-decoration: none;
}

.buttons button {
    margin-left: 20px;
    padding: 15px 30px;
    font-family: "Poppins", Sans-serif;
    background-color: #F96C6B;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.buttons button a{
    font-family: "Poppins", Sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.buttons button:hover {
    background-color: #F96C6B;
}
